<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
		<activity android:name=".OpenInChrome"
			android:label="@string/view_in_chrome"
			android:theme="@android:style/Theme.NoDisplay"
			android:exported="true">
			 <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/javascript" android:scheme="content" />
			</intent-filter>
			 <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/html" android:scheme="content" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>
    </application>

</manifest>
