name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build

    - name: Upload builts APK
      uses: actions/upload-artifact@v3
      with:
        name: ChromeXt.apk
        path: app/build/outputs/apk/debug/app-debug.apk

    - name: Collect builts APK
      uses: actions/download-artifact@v3
      with:
        name: ChromeXt.apk
